# python extensions
*.py[cod]

# C++ extensions
*.so

# python-mode plugin
*.ropeprojec*

# Vim extensions
*.swp

# Dataset and Loggger
visualize/data/*mat
*log/

# backup
*backup*

# 
test/optim_proj/cmp/*/*.png
